.footer
    padding: 2.5rem 2rem .5rem
    background: $dark-blue
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.footer-logo
    margin-bottom: 2rem
    .st0 
        fill: $white

    .st1 
        fill: $soft-blue
    
    .st2
        fill: $white

.footer-links
    display: flex
    flex-direction: column
    align-items: center

    +e(item)
        margin: 0 1rem 1.8rem
        text-transform: uppercase
        color: $white
        letter-spacing: .1ch

        &:hover
            color: $soft-red

.footer-icons
    margin-bottom: 1.5rem

    +e(item)
        margin:0 1rem

    +e(icon)
        fill: $white
        &:hover
            fill: $soft-red

.footer-attribution
    font-size: 12px
    
    +e(link)
        color: $grayish-blue
        text-decoration: underline $grayish-blue

        &:hover
            color: $white


//media queries
+respond-to(tablet)
    .footer
        padding: 2rem 2rem 0.5rem

    .footer-content
        display: flex
        justify-content: space-between
        width: 100%

    .footer-links
        flex-direction: row
        justify-content: space-between
        +e(item)
            margin-bottom: 0.5rem


    .footer-logo, .footer-icons
        margin-bottom: 0.5rem

+respond-to(desktop-large)
    .footer-content
        width: 90%

+respond-to(ultra-large)
    .footer-content
        width: 80%