.header
    width: 100%
    padding: 105px 0 20px

    &-imgSection
        padding: 0 0 0 16px

        +e(img)
            display: block
            position: relative
            width: 100%
            height: 380px

            &::before
                content: ''
                position: absolute
                display: block
                height: 100%
                width: calc(100% - 16px) 
                background-image: url("../src/images/illustration-hero.svg")
                background-size: contain
                background-repeat: no-repeat

            &::after
                content: ''
                position: absolute
                display: block
                height: calc(48.7vw + 7.4px)
                width: 80%
                top: calc(29.2vw - 52.5px)
                right: 0
                z-index: -1
                background-color: $soft-blue
                border-bottom-left-radius: 9999px
                border-top-left-radius: 9999px

    &-textSection
        text-align: center
        margin: calc(25vw - 154px) 0 2rem
        padding: 0px 32px

        +e(title)
            line-height: 1.2
            margin-bottom: 1rem

        +e(info)
            margin-bottom: 1rem


//media queries
+respond-to-width(477px)
    .header
        &-textSection
            margin-top: calc(50vw - 222.5px)

+respond-to-width(606px)
    .header
        &-imgSection
            +e(img)
                width: 590px
                left: calc(100vw - 590px)

                &::before
                    height: 100% 

                &::after
                    height: 300px
                    width: 80%
                    top: 100px

        &-textSection
            margin-top: 5rem

+respond-to(desktop)
    .header
        display: flex
        align-items: center


        &-imgSection
            order: 2
            width: 50%
            +e(img)
                left: calc(50vw - 590px)

        &-textSection
            width: 50%
            margin-right: calc(450px - 41vw)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            text-align: left
            +respond-to-width(1098px)
                margin-right: 0

+respond-to(desktop-large)
    .header
        &-textSection
            padding: 2rem 0 2rem 5%

+respond-to(desktop-large)
    .header
        &-imgSection
            +e(img)
                display: block
                position: relative
                width: 100%
                height: 400px

                &::before
                    width: calc(100% - 16px)
                    right: 10%

                &::after
                    width: 90%
                    top: 120px

        &-textSection
            padding: 2rem 0 2rem 5%

+respond-to(ultra-large)
    .header
        &-imgSection
            +e(img)
                &::before
                    right: 20%

                &::after
                    width: 90%
                    top: 120px
        &-textSection
            padding-left: 10%